form {
    background: #eee;
    display: inline-block;
}

form span{
    display: inline-block;
    width: 80px;
    background: #eee;
    margin: 10px 1px 1px 8px;
}

form input, form select{
    width: 250px;
    height: 20px;
    margin: 0px 1px;
    box-sizing:  border-box;
}
form select{
    margin-left: 1px;
    margin-right: 8px;
}

form input[type='submit']{
    display: block;
    margin: 10px 0px 12px 94px;
    width: 80px;
    height: 20px;
}